<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-image: url('{{ site.baseurl }}/assets/images/background_2023.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover; 
    }
    .jumbotron{
        background:rgba(204, 204, 204, 0.95);
    }
    .speaker-img{
        width: 145px;
        margin-right: 5px;
        float: left;
        align-content: left;
    }
    </style>
</head>
</html>